#header{
  justify-content: center;
  display: grid;
  place-content: center;
  height: 120px;
}
#mainPage{
  display: grid;
  place-content: center;
}
#board{
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
}
#tile:nth-child(even){
  width: 75px;
  height: 75px;
  background-color: cornflowerblue;
}
#tile:nth-child(odd){
  width: 75px;
  height: 75px;
  background-color: white;
}
