.game{
  place-content: center;
  font-size: xx-large;
}
.header{
  justify-content: center;
  display: grid;
  place-content: center;
  height: 120px;
}
.button{
  font-size: x-large;
}
.board{
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
}
#divSpace{
  padding: 0px 0px 16px 0px;
}
#tile:nth-child(even){
  width: 75px;
  height: 75px;
  background-color: cornflowerblue;
}
#tile:nth-child(odd){
  width: 75px;
  height: 75px;
  background-color: white;
}
